<mat-card class="long_card">

  <h3>Merci pour votre inscription</h3>
  <div class="form">
    <p class="or">Un email de confirmation a été envoyé à l'adresse <strong>{{user.email}}</strong>.</p>
    <p class="or">Merci de vérifier vos emails et de cliquer sur le lien pour vérifier votre addresse email.</p>

    <button mat-button (click)="authService.SendVerificationMail()">Re-envoyer l'email de vérification</button>
  </div>          
  <div class="under_link">
      <span routerLink="/login">Revenir sur la page de connexion</span>
  </div>
</mat-card>
          