@import "../Ressources/variables.scss";

div{
    background-color: $primary;
    position: absolute;
    bottom: 0;
    width: 100%;    
    p{
        color:$light;
        text-align: center;
        width: 100%;
        font-size: 0.8em;
    }
}