@import "../Ressources/style/variables.scss";

div{
    background-color: $primary;
    // position: absolute;
    // bottom: 0;
    width: 100%;    
    height: 35px;
    margin: 0;
    p{
        color:$light;
        text-align: center;
        width: 100%;
        font-size: 0.8em;
        margin:0;
    }
}