<mat-card class="middle_card">

  <h3>Mot de passe oublié</h3>
  <div class="form">
    <p class="or">Merci d'entrer votre email pour réinitialiser votre mot de passe.</p>

    <mat-form-field>
      <input matInput type="email" placeholder="email" #email required>
    </mat-form-field>

    <button mat-button (click)="authService.ForgotPassword(email.value)">Réinitialiser mon mot de passe</button>
  </div>          
    <div class="under_link">
        <span routerLink="/login">Revenir sur la page de connexion</span>
    </div>
</mat-card>
      