@import "../../Ressources/variables.scss";

mat-toolbar{

   font-size: 1em;
  
  
  
   span{
       
      margin: 2em;
      display: flex;
      height: 100%;
      
   a{ 
      padding-top:1em;
      text-decoration: none;
      color: $secondary;
      // height: 100%;
      

      &:hover{ 
         color:$light;
         background-color:$secondary;
      }   
     
   }
}


   .fill-remaining-space {
      /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
    }
}

video {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;
 }
