<mat-toolbar >
    <span class="title" routerLink="/"><p>{{appName}}</p></span>
    <span routerLink="/create-event"><p>Proposer un événement</p></span>
    <span *ngIf='isLogged'><p>Participer à un événement</p></span>
    <div class="fill-remaining-space"></div>
    <span *ngIf='!isLogged' routerLink="/login"><p>Se connecter</p></span>
    <span *ngIf='!isLogged' routerLink="/register"><p>S'inscrire</p></span>
    <span *ngIf='isLogged' (click)='logout()'><p>Se deconnecter</p></span>
</mat-toolbar>
    