<mat-card class="middle_card">

  <h3>S'inscrire</h3>
    <div class="form">
      <mat-form-field>
        <input matInput type="text" placeholder="email" #email required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" #userPassword required>
      </mat-form-field>
      <button mat-button (click)="authService.SignUp(email.value, userPassword.value)">S'inscrire</button>
                  
      <p class="or">Ou</p>
        
      <!-- Calling GoogleAuth Api from AuthService -->
                
      <button mat-button  (click)="authService.GoogleAuth()">
        Continuer avec google
      </button>
    </div>


    <div class="under_link">
      <span routerLink="/login">Vous possédez déjà un compte ?</span>
    </div>
        
</mat-card>
    