<mat-card class="middle_card">

<h3>Se connecter</h3>
       <div class="form">
        <mat-form-field>
          <input matInput type="text" placeholder="Nom" #userName required>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Mot de passe" #userPassword required>
        </mat-form-field>
          <button mat-button (click)="authService.SignIn(userName.value, userPassword.value)">Se connecter</button>
                
        <p class="or">Ou</p>
     
        <!-- Calling GoogleAuth Api from AuthService -->
              
          <button mat-button  (click)="authService.GoogleAuth()">
             Se connecter avec google
          </button>
        </div>


        <div class="under_link">
          <span routerLink="/forgot-password">Mot de passe oublié</span>
        </div>
      
  
      <div class="under_link">
        <span>Vous n'êtes pas inscrit ?<span class="redirect" routerLink="/register-user"> s'inscrire</span></span>
      </div>
    </mat-card>
