@import "../../Ressources/variables.scss";
.middle_card{
    width: 325px;
    min-height: 300px;
    margin-left:37.5%;
    margin-top:50px;
    h3{
        font-size : 2em;
        color:$primary;

    }

    .form{
       display: flex;
       flex-direction: column;
                
       & > * {
            width: 100%;
          }

          .or{
            //   display: inline-flex;
              width: 100%;
              text-align: center;
          }
    }

    .under_link{
        color:$accent;

        &:hover{
            cursor: pointer;
            color:$primary;
        }
    }

}