<mat-card class="long_card">

    <h3>Proposer un événement</h3>
      <form  [formGroup]="eventForm" class="form" (ngSubmit)="onSubmit()">
        
        <mat-form-field>
          <input matInput type="text" placeholder="Nom de l'événement" formControlName="eventName" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="eventType" placeholder="Type d'événement" required>
            <mat-option *ngFor="let type of eventTypes" [value]="type" >
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <input type="number" matInput placeholder="Nombre de bénévoles nécessaires" formControlName="capacity"/>
      </mat-form-field>

      <mat-form-field >
        <mat-hint>Contact, comment s'inscrire, public, horaire etc."</mat-hint>
        <textarea matInput type="text" placeholder="Ajouter les informations complémentaires"  formControlName="description"></textarea>
        
      </mat-form-field>
      <hr class="form-sep"/>
      <h4>Adresse : </h4>
        <div formGroupName="location" class="form">
          
          <mat-form-field >
              <textarea matInput type="text" placeholder="Adresse" formControlName="address" required></textarea>
          </mat-form-field>

          <table  cellspacing="0"><tr>
            <td><mat-form-field >
              <input matInput type="text" placeholder="Ville" formControlName="city" required>
            </mat-form-field></td>
            <td><mat-form-field >
              <input matInput type="text" #postalCode maxlength="5" placeholder="Postal Code" formControlName="zipCode" required>
            </mat-form-field></td>
          </tr></table>
        </div>
      
        <button type="submit" mat-button [disabled]="!eventForm.valid">Proposer</button>
      </form>          
  </mat-card>